.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  width: max(70%, 15em);
}

.form {
  display: flex;
  flex-direction: column;

  width: 100%;

  align-items: center;
  gap: 2em;
}

.form input[type='date'] {
  font-family: inherit;
}

.row {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.row > * {
  width: min(45%, 14em);
}

@media (max-width: 864px) {
  .row {
    flex-direction: column;

    gap: 2em;
  }

  .row > * {
    width: 100%;
  }
}

.errorMessage {
  color: var(--redish);
  text-align: center;

  margin-top: -1em;
}
