.container {
  padding: 1.5em;
}

@media (max-width: 500px) {
  .container {
    padding: 0;
  }
}

#productHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 500px) {
  #productHeader {
    flex-direction: column;
  }
}

#productHeader h1 {
  line-height: 1em;
}

#productHeader h2 {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

#productContent {
  display: flex;
  justify-content: space-between;

  gap: 2em;

  margin-top: 1em;
}

@media (max-width: 1000px) {
  #productContent {
    flex-direction: column-reverse;
  }
}

#productDescription {
  text-align: justify;
  font-size: 1.15em;
}

#imgContainer {
  display: flex;
  flex-shrink: 0;

  width: 45%;
}

@media (max-width: 1000px) {
  #imgContainer {
    width: 100%;
  }
}

#imgContainer > * {
  width: 100%;
}

#imgContainer img {
  object-fit: contain;
  border-radius: 15px;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinnerContainer svg {
  max-height: 5rem;
}

#productContent > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 3em;
}

#productBuyButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.25em;

  align-self: center;

  width: 10em;

  font-family: 'Galindo', cursive;
}

#productBuyButtonContainer strong {
  font-weight: 400;
}

#productBuyButtonContainer button {
  background-color: var(--light-brown);
  color: var(--white);

  font-size: 1.25em;

  transition: background-color 0.15s ease-out;
}

#productBuyButtonContainer button:hover {
  background-color: var(--brown);
}

#productBuyButtonContainer button:active {
  background-color: var(--light-accent-brown);
}
