* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*[aria-hidden='true'] {
  display: none;
}

html {
  --white: #ffffff;
  --black: #121619;
  --brown: #7c6c77;
  --accent-brown: #463240;
  --dark-brown: #3d383f;
  --light-brown: #5c585d;

  --navbar-height: 6em;
  --spacing-navbar-content: 4em;
}

body {
  font-family: 'Work Sans', sans-serif;

  background-color: var(--black);

  color: var(--white);
}

h1,
h2,
h3 {
  font-family: 'Galindo', cursive;
}

h4,
h5,
h6 {
  font-family: 'Sarala', sans-serif;
}

/* #region navbar */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--navbar-height);

  padding-inline: 2em;

  background-color: var(--brown);
}

#large-logo {
  height: 2.5em;
  display: block;
}

#small-logo {
  height: 6.5em;
  display: none;
}

#navbar ul {
  display: flex;

  gap: 3em;
}

#navbar ul li {
  display: inline;
}

#navbar i {
  color: var(--accent-brown);

  font-size: 3em;
}

@media (max-width: 500px) {
  #large-logo {
    display: none;
  }

  #small-logo {
    display: block;
  }

  #navbar i {
    color: var(--accent-brown);

    font-size: 2.5em;
  }
}

/* #endregion navbar */

/* #region page-cotent */

#page-content {
  margin-block: var(--spacing-navbar-content);
}

#page-content main {
  width: max(10em, 90vw);
  min-height: calc(100vh - var(--navbar-height) - 2 * var(--spacing-navbar-content));

  margin-inline: auto;
  padding: 3.125em;

  background-color: var(--dark-brown);

  border-radius: 8px;
}

/* #endregion */
